/* Variables */
$main-blue: #0987E5;
$accent-blue: #D8D8D8;

.main {
  background-color: $main-blue;
  display: inline;
  float: left;
}

.title {
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}


// /* Rectangle 6: */
// background: #0987E5;
// /* Line: */
// border: 1px solid #FFFFFF;
// /* Line: */
// border: 6px solid #076CB7;
// /* hopper: */
// background: #FFFFFF;
// /* about: */
// font-family: OpenSans;
// font-size: 18px;
// color: #FFFFFF;
// letter-spacing: 0.29px;
// line-height: 24px;
// /* hops: */
// font-family: OpenSans;
// font-size: 18px;
// color: #FFFFFF;
// letter-spacing: 0.29px;
// line-height: 24px;
// /* contact: */
// font-family: OpenSans;
// font-size: 18px;
// color: #FFFFFF;
// letter-spacing: 0.29px;
// line-height: 24px;
// /* sign in: */
// font-family: OpenSans;
// font-size: 18px;
// color: #FFFFFF;
// letter-spacing: 0.29px;
// line-height: 24px;

// /* Mask: */
// background: #D8D8D8;
// /* Screen Shot 2016-02-16 at 11.53.52 PM: */